[Unit]
Description=The Heat Metadata server provides an OpenStack API for Nova instances to communicate metadata to and from the Heat Engine.
After=syslog.target network.target heat-engine.service
Requires=syslog.target network.target heat-engine.service

[Service]
ExecStart=/usr/bin/heat-metadata
Restart=on-failure
User=openstack-heat

[Install]
WantedBy=multi-user.target
