[Unit]
Description=The Heat CloudWatch API provides an AWS CloudWatch-compatible API to the Heat Engine
After=syslog.target network.target heat-engine.service
Requires=syslog.target network.target heat-engine.service

[Service]
ExecStart=/usr/bin/heat-api-cloudwatch
Restart=on-failure
User=heat

[Install]
WantedBy=multi-user.target
